* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(231, 125, 38);
  padding: 1%;
}

h1 {
  position: relative;
  font-size: 3.5rem;
  margin-left: 2%;
  border: 1px solid whitesmoke;
  padding: 10px;
}

h1:hover {
  color: rgb(231, 125, 38);
  background-color: black;
}

main {
  display: flex;
}

aside {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2.5rem;
  align-items: flex-end;
}

article {
  display: flex;
}

.nav-links {
  text-decoration: none;
  padding: 10px;
  font-size: 1.25rem;
  color: black;
  background-color: whitesmoke;
}
.nav-links:hover {
  color: whitesmoke;
  background-color: black;
}

.large-photo-box {
  display: flex;
  justify-content: center;
}
.small-photo-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.small-photo {
  flex-basis: 1 0 50%;
  border: solid rgb(231, 125, 38);
  margin: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin: 1% 0 2% 0;
}

.footer a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1px;
  border-bottom: 2px solid rgb(231, 125, 38);
}

#headshot {
  display: ;
  position: relative;
  height: 17rem;
  width: 17rem;
}

#large-photo {
  border: solid rgb(231, 125, 38);
  margin: 10px;
}

/* Media queries here */
@media screen and (max-width: 992px) {
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
}
